* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background: black;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 10px;
    color: greenyellow;
    text-shadow: 2px 2px 1px maroon;
    font-size: 50px;
    display: block;
}

h2 {
    color: greenyellow;
    text-shadow: 2px 2px maroon;
    font-size: 35px;
}

.open-screen {
    background-image: url("http://www.powerpointhintergrund.com/uploads/food-background-2.jpg");
    height: 300px;
    border-radius: 30px;
}

.weather-results {
    font-size: 50px;
    height: 50px;
    border: 3px white;
    color: white;
}

form {
    margin-top: 20px;
    font-size: 25px;
}
