::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: firebrick;
    text-shadow: 2px 1px greenyellow;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: firebrick;
    text-shadow: 2px 1px greenyellow;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: firebrick;
    text-shadow: 2px 1px greenyellow;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: firebrick;
    text-shadow: 2px 1px greenyellow;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background: black;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 10px;
    color: greenyellow;
    text-shadow: 2px 2px 1px maroon;
    font-size: 40px;
    display: block;
}

h2 {
    color: greenyellow;
    text-shadow: 2px 2px maroon;
    font-size: 28px;
}

.open-screen {
    background-image: url("http://www.powerpointhintergrund.com/uploads/food-background-2.jpg");
    height: 360px;
    border-radius: 50px;
}

.open-screen h1,
.open-screen h2 {
    color: maroon;
    text-shadow: 1px 1px greenyellow;
}

.weather-results {
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    border: 1px greenyellow;
    color: greenyellow;
}

.search-button {
    height: 45px;
}

form input {
    margin: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 10px;
    background: black;
    background-image: url("http://www.powerpointhintergrund.com/uploads/food-background-2.jpg");
    color: greenyellow;
    text-shadow: 2px 2px maroon;
}

.user-input {
    width: 35%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
}

.user-button {}

.restaurant h2 {}

p {
    color: greenyellow;
    text-shadow: 2px 2px maroon;
    font-size: 20px;
}

.restaurant {
    border: 3px solid yellowgreen;
    padding-bottom: 18px;
    margin: 10px;
    border-radius: 20px;
}

.restaurant a {
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
